$white: #fff;

$red: #b13131;
$green: #54b354;
$yellow: #edbb48;
$brown: #5d5e5e;
$border: #c2c2c2;
$mainBG: #eef0f1;

$text-blue: #39739d;
$tag-blue: #e1ecf4;
$main-blue: #7ac0e6;
$modal-header: #303845;
$modal-content: #222c35;

$nav-height: 60px;

